<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <form method="post"action="/user/login">
        <label for="email">Enter your email
        </label>
        <input type="text" name="email">
        <label for="password" name="password">Enter your password
        </label>
        <input type="text" name="password">
        <button type="submit">SUBMIT</button>
    </form>
    <div>
        <% if (locals.error) { %>
            <p><%= error %></p>
         
        <% } %>
    </div>
</body>
</html>